@import url(fonts.css);

body{
    padding-top: 70px;
}
.showcase-bg-style{
    background-image: url('../assets/imgs/STS_PITCH.jpg');
    background-size: auto;
    background-position: center;
    padding: 50px;
}
@media (max-width:640px) {
    .showcase-bg-style{
      background-attachment:initial;
    }
  }
  

.showcase-text-style{
    font-family:Lato;
    font-weight: bold;
    font-size: 175%;
}


@media(min-width:768px){

    .showcase-bg-style{
        background-image: url('../assets/imgs/STS_PITCH.png');
        background-position: center;
        padding: 100px;
    }
    .showcase-text-style{
        font-family:Lato;
        font-weight: bold;
        font-size: 250%;

    }
}

@media(min-width:992px){
    .showcase-text-style{
        font-family:Lato, Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 425%;
    }
}

.about-us-title{
    font-family: 'Lato Bold', Arial, Helvetica, sans-serif;
}

